# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.*

# Modelos generados
*.pkl
*.joblib

# VS Code
.vscode/

# Windows
Thumbs.db